


header{
    height: 50px;
    background-color: rgb(229, 235, 248);
     /* margin-bottom: 50px;*/
    text-align: left;
    font-family: 'Do Hyeon', sans-serif;
font-size: larger;
}



.hero{

    height: 10px;
    background-color: rgb(166, 110, 194);
   /* margin-bottom: 80px;*/
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}



.introduccion{
    height: 225px;
    /*margin-bottom: 50px;*/
    text-align: justify;
    font-family: 'Do Hyeon', sans-serif;
    margin-bottom: 14px;
}




.marco{
    height:225px ;
    border: solid rgb(23, 26, 20) ;
    padding: 10px;
   
}

.imga
{

    display: block;
    margin: auto;
    margin-top: 50px;    
}
.contact{

    height: 310px;
  text-align: justify;
    font-family: 'Do Hyeon', sans-serif;
}
.coli{
    border:1px solid black;
    text-align: center;
}
.titulonoticia{
    text-align: center;
    
}
.marco2{
    height:268px ;
    border: solid rgb(50, 60, 92) ;
    background-color: rgb(127, 198, 216) ;
    padding: 10px;
}
.footer{
    height: 145px;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
   
}
.prueba{
    visibility: hidden;
}


.fondoblanco{
    background-color: rgb(199, 213, 216) ;
    
}